data_set_with_absent_realtives1
data_set_with_inconsistant_relatives1
good_data_set1
men.txt
simle_set_without_json_structure
simple_absent_realtives_set
simple_good_data_set
simple_good_data_set_with_relative_connection_to_self
simple_inconsistant_relatives_set
simple_set_with_absent_key
simple_set_with_extra_key
simple_set_with_rubbish_in_place_of_date
simple_set_with_wrong_date_format
simple_set_with_wrong_geneder_format
simple_set_wrong_structure
simple_set_with_non_unique_citizen_id
simple_set_with_the_trickiest_wrong_date_format
simple_set_with_trickier_wrong_date_format
simple_set_with_tricky_wrong_date_format1
simple_set_with_tricky_wrong_date_format2
*.test
streets.txt
towns.txt
women.txt
